:root {
  --c0-5: #ebc700;
  --c0-4: #ffed00;
  --c0-3: #feff00;
  --c0-2: #feff85;
  --c0-1: #fffee6;

  --c1-5: #0b347d;
  --c1-4: #1061c3;
  --c1-3: #5fb3f9;
  --c1-2: #b9ddfc;
  --c1-1: #e2f2fe;

  --c2-5: #991310;
  --c2-4: #ea352e;
  --c2-3: #f87e7d;
  --c2-2: #ffccd2;
  --c2-1: #ffebee;

  --c3-5: #237f2e;
  --c3-4: #40b14b;
  --c3-3: #7ed085;
  --c3-2: #c6e7c8;
  --c3-1: #e7f5e9;

  --c4-5: #ea5000;
  --c4-4: #ff8d00;
  --c4-3: #ffcd7a;
  --c4-2: #ffe1af;
  --c4-1: #fff3df;

  --c5-5: #61058b;
  --c5-4: #9210ad;
  --c5-3: #d190da;
  --c5-2: #ebc7ef;
  --c5-1: #f4e4f5;

  --c6-5: #592c00;
  --c6-4: #974c00;
  --c6-3: #d0af8f;
  --c6-2: #eedcca;
  --c6-1: #f2e8de;
}
